---
const { className, monthly, annually } = Astro.props;
---
<div class={`bg-white px-6 py-5 -translate-y-20 rounded-xl shadow-md flex flex-col ${className ?? ""}`}>
    <div>
        <slot/>
    </div>
    <div class="mt-auto">
        <a href="https://app.warmbly.com/app/billing" class="py-2 text-center bg-blue-500 text-white transition hover:bg-blue-600 block mt-7 rounded-full">Go to Billing</a>
    </div>
</div>