<div class="flex gap-5 items-center">
    <div class="bg-indigo-100 px-1 rounded-full text-indigo-500">
        <i class="ri-check-line"></i>
    </div>
    <p class="text-gray-500">
        <slot/>
    </p>
</div>