---
import Header from "../components/Header/Header.astro"
import Footer from "../components/Footer/Footer.astro"
import Layout from "../layouts/Layout.astro"
import Heropic from "../components/Heropic.astro"


const title = "Email Warmup for Better Deliverability"
const description = "Warmbly’s automated email warmup service sends and manages messages to build sender reputation, reduce spam risk, and help your campaigns land in the inbox every time."
---

<Layout {title} {description}>
    <Header/>
	<div class="px-4 bg-gray-50 overflow-hidden">
		<div class="max-w-7xl mx-auto">
			<div class="flex flex-col items-center">
				<div class="py-2 px-3 mt-20 text-gray-500"><span class="bg-linear-to-r from-cyan-500 to-blue-600 text-white py-1 px-3 rounded-lg mr-3">AI</span> Powered Personalization</div>
				<h1 class="font-bold text-5xl text-center text-gray-800 mb-13 max-w-5xl mt-10 leading-13">Warmup Your Emails, Get Better Deliverability, Grow Faster</h1>
				<p class="text-center max-w-6xl text-gray-500 text-md">Warmbly automatically warms up your email accounts, improves your sender reputation, and boosts deliverability — making sure your messages land in the primary inbox every time. Get started in minutes, send smarter, and grow your outreach faster.</p>
			</div>
			<div class="mt-15 flex justify-center items-center gap-7">
				<a href="https://app.warmbly.com/" class="px-5 py-3 bg-blue-500 transition hover:bg-blue-600 text-gray-50 rounded-full">Get started for free</a>
				<p class="text-gray-500">No credit card required.</p>
			</div>
			<Heropic className="w-full mt-20 shadow-[0px_-7px_100px_-50px_#ffaddd] shadow-2xl border-t border-l border-r border-gray-200 rounded-t-3xl z-10" />
		</div>
	</div>
    <Footer/>
</Layout>