---
import Logo from "../Logo.astro";
import Link from "./Link.astro"
---

<div class="w-full h-20 border-b px-4 border-gray-200 bg-gray-50/80 flex justify-between">
    <div class="max-w-7xl w-full px-2 mx-auto flex justify-between items-center">
        <div class="flex gap-15">
            <a href="/" class="flex items-center gap-6">
                <Logo className="w-11 -mt-2.5 items-center"/>
                <h1 class="font-semibold text-2xl">Warmbly.</h1>
            </a>
            <div class="hidden lg:flex justify-center items-center">
                <Link href="/pricing">Pricing</Link>
                <Link href="https://docs.warmbly.com">API</Link>
                <Link href="/pricing">Blog</Link>
                <Link href="/warmup">Email Warmup</Link>
            </div>
        </div>
        <div class="flex items-center gap-5">
            <a href="https://app.warmbly.com/auth/login" class="px-5 py-2 border border-blue-500 text-blue-800 transition hover:bg-blue-50 rounded-full">Login</a>
            <a href="https://app.warmbly.com/auth/register" class="px-5 py-2 bg-blue-500 hover:bg-blue-600 transition text-gray-50 rounded-full">Get started for free</a>
        </div>
    </div>
</div>